body{
    background-image: url(img/bg2.png);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 85px;
    background-color:rgba(78, 192, 245, 0.979);
    width: 450px;
    margin-top: 100px;
    height: 300px;
    border-radius: 24px;
    
}

.testing{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 13px;

}