body{

    background-image: url(https://images.theconversation.com/files/225416/original/file-20180628-117382-1ndv5qh.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop);
  
}
.carsual{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 249px;
    margin-top: 200px;
    margin-bottom: 101px;

}   
.about{
    background-color:silver;
    margin-top: 50px;
}


#button{
    display: flex;
     
}
.aboutlogo{
    text-decoration: none;
}
#git:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#you:hover{
    color: rgb(241, 236, 236);
    background-color: rgb(227, 42, 42);
}
#link:hover{
    background-color: rgb(50, 103, 149);
    color: aliceblue;
}
#gits:hover{

color: rgb(0, 0, 0);
}
#yous:hover{
    
    color: rgb(227, 42, 42);
}
#links:hover{
 color: rgb(50, 103, 149);
    
}
#gits{
    color: rgb(50, 48, 48);
    }
    #yous{
        
        color: rgb(227, 83, 83);
    }
    #links{
     color: rgb(99, 168, 229);
        
    }

    body {
        font-family: "Lato", sans-serif;
      }
      
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

